/* variables */
:root {
  --bg-primary: #ddd;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: none;
  padding: none;
  list-style: none;
}

html, body {
  min-height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: #000;
}

.container {

  height: 100vh;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
