.invalid {
    opacity: .6;
    cursor: none;
}

.button {
    background: rgba(118, 149, 236, 1);
    color: #fff;

    padding: 7px 30px;

    font-size: 16px;
    font-weight: 700;

    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 8px;

    cursor: pointer;
}

.button-action {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.fill-red {
    background: red;
    color: #fff;
}

.fill-green {
    background: green;
    color: #fff;
}

.fill-none {
    background: rgba(255, 255, 255, 1);
    color: #000;
}