.button-area {
    width: 100%;

    margin-top: 40px;

    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}